{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <center>
                <div class="form-container fcard" style="margin-top: 80px;">
                    <a href="#">
                        <img class="first-content" src="{% static 'images\pngwing.png' %}" alt="Ingage Logo"
                            class="img-fluid" />
                    </a>
                    <h5 class="card-name">Financial Dashboard</h2>
                        <h5 class="second-content">Track your income, expenses, savings, and investments effortlessly.
                            Gain insights with real-time data and personalized reports.</h2>
                    <button class="custom-btn btn-1"><a href="#">Click Here</a></button>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <div class="form-container fcard" style="margin-top: 80px;">
                    <div>
                        <a href="#">
                            <img class="first-content" src="{% static 'images\2_Mesa de trabajo.png' %}"
                                alt="Ingage Logo" class="img-fluid" />
                        </a>
                    </div>
                    <div>
                        <h5 class="card-name">NM Dashboard</h2>
                            <h5 class="second-content">Access all NM project records in one place. Track progress,
                                updates, and performance metrics easily.</h2>
                    </div>

                    <button class="custom-btn btn-1"><a href="#">Click Here</a></button>
                </div>
            </center>
        </div>
    </div>
</div>
{% endblock %}