
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <center>
                <div class="form-container fcard" style="margin-top: 80px;">
                        <img class="first-content" src="{% static 'images\pngwing.png' %}" alt="Ingage Logo"
                            class="img-fluid" />
                    <h5 class="card-name">Financial Dashboard</h5>
                        <h5 class="second-content">Track your income, expenses, savings, and investments effortlessly.
                            Gain insights with real-time data and personalized reports.</h5>
                            <a class="custom-btn btn-1" href="#" style="text-decoration: none;"
                            onmouseover="this.style.color='White';"
       onmouseout="this.style.color='White'; this.style.textDecoration='none';" >Click Here</a>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <div class="form-container fcard" style="margin-top: 80px;">
                        <img class="first-content" src="{% static 'images\2_Mesa de trabajo.png' %}" alt="Ingage Logo"
                            class="img-fluid" />
                    <h5 class="card-name">NM Dashboard</h5>
                        <h5 class="second-content">Access all NM project records in one place. Track progress,
                            updates, and performance metrics easily.</h5>
                            <a class="custom-btn btn-1" href="{% url 'edutech' %}" style="text-decoration: none;"
                             onmouseover="this.style.color='White';"
       onmouseout="this.style.color='White'; this.style.textDecoration='none';" >Click Here</a>
                </div>
            </center>
        </div>
        
    </div>
</div>
{% endblock %}
