{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <center><div class="form-container fcard" style="margin-top: 80px;">
                <a href="#">
                <img src="{% static 'images\pngwing.png' %}" style="height: 279px; width: 372px; margin-top: 50px;" alt="Ingage Logo" class="img-fluid" />
                </a>
            </div>
        </center>
        </div>
        <div class="col-md-6">
            <center>
            <div class="form-container fcard" style="margin-top: 80px;">
                <a href="{% url 'edutech' %}" method="post">
                    <img src="{% static 'images\2_Mesa de trabajo.png' %}" style="height: 279px; width: 372px; margin-top: 50px;" alt="Ingage Logo" class="img-fluid" />
                </a>
            </div>
        </center>
        </div>
    </div>
</div>
{% endblock %}
