{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text1">
        <h2>InGage specialises in immersive technology solutions using Augmented Reality and Virtual Reality for
            experiential
            training and education, product visualisation, maintenance, and prototyping.</h2>
    </div>
    <div class="headtext">
        <h2>Expenses allowed</h2>
    </div>
    <div class="bx1">
        
            <button class="cssbuttons-io-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
                <span>Add</span>
              </button>
       
        <form>
            <div class="section">
                
                <select id="trainer" name="trainerName" required>
                    <option value="" disabled selected style="background-color: #0096E6; color: aliceblue;">Trainer Name</option>
                    <option value="trainer1">Trainer 1</option>
                    <option value="trainer2">Trainer 2</option>
                    <option value="trainer3">Trainer 3</option>
                    <option value="trainer4">Trainer 4</option>
                    <option value="trainer5">Trainer 5</option>
                </select>
                <select id="college" name="collegeName" required>
                    <option value="" disabled selected style="background-color: #0096E6; color: aliceblue;">College Name</option>
                    <option value="college1">College 1</option>
                    <option value="college2">College 2</option>
                    <option value="college3">College 3</option>
                    <option value="college4">College 4</option>
                    <option value="college5">College 5</option>
                </select>
                <input type="text" placeholder="Current Location" required>
                <input type="text" placeholder="Destination" required>
            </div>
            <div class="section">

                <label class="radio-label">
                    <input type="radio" name="travelType" value="local" required> Local Travel
                </label>
                <label class="radio-label">
                    <input type="radio" name="travelType" value="outstation" required> Outstation
                </label>
                <input type="text" placeholder="km" required>
                <input type="text" placeholder="Fare" required>

            </div>
        </form>
    </div>

</div>
{% endblock %}




