{% load static %}
{% load custom_filters %}
<nav class="navbar navbar-primary navbar-fixed-top custom-color" style="height: 90px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.myingage.com/" target="_blank"><img src="{% static 'images/Ingage_logo.png' %}" alt="Ingage Logo" width="200" height="55" class="img-fluid" /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" style="font-weight: bold;">
                {% if user.is_authenticated and request.path != '/' and request.path != '/password_reset/' %}
                {% if user|has_any_group:"coordinator,trainer" %}
                <li>
                   <a href="{% url 'home' %}">Home</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user|has_group:"coordinator" %}
                <li>
                    <a href="{% url 'filter_photos' %}">Coordinator</a>
                </li>
                {% endif %}
                {% if user|has_group:"trainer" %}
                <li>
                    <a href="{% url 'trainer' %}">Trainer</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
