 Dear {{ user.get_full_name }},

We received a request to reset your password for your Ingage Trainer account. If you did not make this request, please ignore this email. Otherwise, you can reset your password using the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Please note that this link will expire in 1 hour. If you encounter any issues or did not request a password reset, please contact our support team immediately.

Thank you for using Ingage Dashboard

Best regards,
The Ingage Technical Team
