{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="form-container" style="margin: 150px auto;">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="color: white;"class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
        <h2>Password Reset</h2>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}<br><br>
            <button type="submit"> <span></span>
                <span></span>
                <span></span>
                <span></span>
                  Reset
              </button>
        </form>
    </div>
    {% endblock %}