/* Financial dashboard */

.container .text1 h2 {
    font-size: 24px;
    font-weight: lighter;
    font-style: normal;
    color: #262727;
}

.container .headtext h2 {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.container .bx1{
    --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  height: 43%;
  width: 100%;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
}

.container .bx1 form {
    display: flex;
    flex-direction: column;
}

.container .bx1 form .section {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.container .bx1 form .section input[type="text"],
.container .bx1 form .section select,
.container .bx1 form .section .radio-label {
    width: calc(25% - 10px); /* Adjust the width to fit four items per row */
    padding: 10px;
    height: 54px;
    font-size: 18px;
    margin: 15px 2px;
    border: 2px solid #9466EA;
    border-radius: 4px;
    box-sizing: border-box;
}
.container .bx1 form .section select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: black;
    font-size: 18px;
    background-image: linear-gradient(45deg, transparent 50%, #feffff 50%), linear-gradient(135deg, #f7f8f9 50%, transparent 50%), 
                      linear-gradient(to right, #0d95f6, #13d8e2);
    background-position: calc(100% - 30px) center, calc(99% - 18px) center,calc(100% - 20px) 50%;
    background-size: 10px 10px, 10px 10px, 22px 18px;
    background-repeat: no-repeat;
    padding-right: 30px; /* Adjust padding to fit the arrow */
    transition: background-position 0.3s ease; /* Smooth transition for arrow rotation */

}

.container .bx1 form .section input:focus ,
 .container .bx1 form .section select:focus,
 .container .bx1 form .section .radio-label:hover{
    border-color: #0096E6;
    outline: none; /* Remove default outline */
    /* box-shadow: 0 0 0 2px rgba(0, 150, 230, 0.5);  */
}


.radio-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: #ffffff;
}


input[type="radio"]{
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 20px;
    height: 20px;
    content: none;
    outline: none;
    margin: 0px 13px;
    
 }
 
 input[type="radio"]:checked {
   appearance: none;
   outline: none;
   padding: 0;
   content: none;
   border: none;
  
 }
 
 input[type="radio"]:checked::before{
   position: absolute;
   color: #f8f8f8 !important;
   background-color: #0096E6;
   content: "\00A0\2713\00A0" !important;
   border: 1px solid #d3d3d3;
   font-weight: bolder;
   font-size: 13px;
 }
 

 /* ADD column button */
 .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    margin-left: 1030px;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, #0096E6 0%, #0096E6 100%);
    border: none;
    letter-spacing: 0.05em;

  }
  
  .cssbuttons-io-button svg {
    margin-right: 6px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }