body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: black;
  background: linear-gradient(#ffffff, #4adcd9);
}

.custom-color {
  background-color: transparent;
}

.form-container {
  max-width: 400px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  color: black;
}

.form-container h2 {
  margin-bottom: 30px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

label {
  color: black;
}

.custom-button{
  background-color: #141e30;
}

.form-container .custom-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.form-container .custom-button:hover {
  background: #03e9f4;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.form-container .custom-button span {
  position: absolute;
  display: block;
}

.form-container .custom-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }
  50%, 100% {
      left: 100%;
  }
}

.form-container button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
      top: -100%;
  }
  50%, 100% {
      top: 100%;
  }
}

.form-container button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
      right: -100%;
  }
  50%, 100% {
      right: 100%;
  }
}

.form-container button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }
  50%, 100% {
      bottom: 100%;
  }
}

.mybutton {
  width: 250px;
  height: 150px;
  color: #5d5d5dbd;
  font-size: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #8db600, -5px -5px 15px rgba(176, 176, 176, 0.293);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mybutton:hover {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25), -10px -10px 25px rgba(255, 255, 255, 0.5);
  background-color: #8db600;
  color: rgba(245, 245, 245, 0.879);
}

.image-container {
  position: relative;
}

.corresponding-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}
  

.logo-image {
  width: 375px;
  height: 297px;
  transition: opacity 0.3s ease;
}


.image-container:hover .corresponding-image {
  opacity: 0;
}

.image-container:hover .logo-image {
  opacity: 1;
}

h1{
  font-weight: bold;
}

/* edu1.html page styles */

.fcard{
  overflow: hidden;
  position: relative;
}


.fcard h5{
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  margin-right: 50px;
  color: rgb(229, 226, 226);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.4s;
}

.fcard:hover {
  border-radius: 15px;
  cursor: pointer;
  
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background: rgb(19, 162, 155);
}
.fcard .first-content{
  height: 279px; 
  width: 100%; 
  margin-top: 50px;
  margin-right: 50px;
  transition: all 0.4s;

}
.fcard:hover .first-content {
  height: 0px;
  opacity: 0;
  
}
.fcard:hover .card-name{
  color: #0f0f0f;
  font-weight: bold;
  font-size: 2.4rem;
}
.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 1000ms;
  font-size: 0px;
  
}

.fcard:hover .second-content {
  opacity: 1;
  height: 280px;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

/* Card buttons styles */

.custom-btn {
  width: 130px;
  height: 40px;
  color: #f9f9f9;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
 }
 .custom-btn a{
  color: #f9f9f9;
 }
 .btn-1 {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
 }
 
 .btn-1:before {
  height: 0%;
  width: 2px;
 }
 
 .btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
               -4px -4px 6px 0 rgba(116, 125, 136, .5), 
     inset -4px -4px 6px 0 rgba(255,255,255,.2),
     inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
 }
